<br>
<div class="row">
  <div class="col-md-12">
    <h5>Add Filters</h5>
  </div>
</div>
<form [formGroup]="searchForm">
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" formControlName="author" placeholder="Author" class="form-control">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="text" formControlName="subject" placeholder="Subject" class="form-control">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <input type="date" formControlName="speechDate" placeholder="Author" class="form-control">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <button (click)="searchSpeech()" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Search</button>
    </div>
  </div>

</div>
</form>

<div class="row justify-content-md-center">
  <div class="col-md-8" id="loading" style="display: none">
    <img src="assets/images/wait.gif" class="mx-auto d-block" alt="loading..." >
  </div>
  <div class="col-md-10" id="speech-list">

    <table class="table table-striped table-hover" [mfData]="speeches" #mf="mfDataTable" [mfRowsOnPage]="10">
      <thead>
      <tr>
        <th>
          <mfDefaultSorter by="name">Date</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="email">Author</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="age">Subject</mfDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let speech of mf.data">
        <td>{{speech.speech_date}}</td>
        <td>{{speech.author}}</td>
        <td>{{speech.subject}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>
</div>
