<div class="row justify-content-md-center main-row" style="margin-top: 30px;">
  <div class="col-md-11">
    <div class="card  animated rollIn">
      <h5 class="card-header bg-primary text-white"><i class="fa fa-bullhorn"></i> Speech Management
        <button class="btn btn-danger btn-sm float-right" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
      </h5>
      <div class="card-body" style="min-height: 400px;">
        <tabset>
          <tab (select)="reloadViewSpeech()" heading="View My Speeches">
            <troll-view-speech></troll-view-speech>
          </tab>
          <tab heading="Submit a new Speech">
            <troll-new-speech></troll-new-speech>
          </tab>
          <tab (select)="reloadSearchSpeech()" heading="Search All Speeches">
            <troll-search-speech></troll-search-speech>
          </tab>
        </tabset>
      </div>
    </div>

  </div>
</div>
