
<br>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" [(ngModel)]="author" placeholder="Author" class="form-control">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <input type="text" [(ngModel)]="subject" placeholder="Subject" class="form-control">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <input type="date" [(ngModel)]="speechDate" placeholder="Author" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-ngx-editor placeholder="Write speech here..." [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-12">

    <div class="col-md-2 float-right">

      <div class="btn-group btn-block" dropdown>
        <button type="button" (click)="saveSpeech()"  class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
        <button id="button-split" type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                aria-controls="dropdown-split">
          <span class="caret"></span>
        </button>
        <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-split">
          <li role="menuitem"><a (click)="saveSpeech()" class="dropdown-item" href="#"><i class="fa fa-save"></i> Save Only</a></li>
          <li role="menuitem"><a  (click)="saveAndShare()" class="dropdown-item" href="#"><i class="fa fa-share"></i> Save & Share</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-2 float-right">
      <button (click)="discardSpeech()" class="btn btn-block btn-danger float-right"><i class="fa fa-trash"></i> Discard</button>
    </div>
  </div>
</div>

