<br>
<div class="row">

  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12">

        <button *ngFor="let speech of speeches" (click)="openSpeech(speech)" type="button" class="btn btn-primary btn-block">{{speech.subject}} <i class="fa fa-angle-double-right float-right"></i></button>

      </div>
    </div>
  </div>
  <div class="col-md-9" >
    <br>
    <div class="card text-center" id="speech-display" >
      <div class="card-header  bg-primary text-white">
        {{speechOpened.subject}}
      </div>
      <div class="card-body" >
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" [(ngModel)]="speechOpened.author" placeholder="Author" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" [(ngModel)]="speechOpened.subject" placeholder="Subject" class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="date" [(ngModel)]="speechOpened.speech_date" placeholder="Author" class="form-control">
            </div>
          </div>
        </div>

        <app-ngx-editor placeholder="Write speech here..." [spellcheck]="true" [(ngModel)]="speechOpened.content"></app-ngx-editor>
      </div>
      <div class="card-footer text-muted">
       <div class="row">
         <div class="col-md-12">


           <div class="col-md-4 float-right">
             <button (click)="saveSpeech()" class="btn btn-block btn-primary float-right"><i class="fa fa-save"></i> Save Changes</button>
           </div>

           <div class="col-md-4 float-right">
             <button (click)="shareSpeech()" class="btn btn-block btn-warning float-right"><i class="fa fa-share"></i> Share</button>
           </div>

           <div class="col-md-4 float-right">
             <button (click)="discardSpeech()" class="btn btn-block btn-danger float-right"><i class="fa fa-trash"></i> Discard Changes</button>
           </div>

         </div>
       </div>
      </div>
    </div>
  </div>

</div>
