@import '~node_modules/angular-notifier/styles.css';

body{
  background-image: url('assets/images/bg.png');
}

.ngx-editor-textarea{
  min-height: 400px!important;
}

@media only screen and (max-width: 600px) {
  .nav-item {
    width: 100% !important;
  }
}
