<div class="row justify-content-md-center main-row" style="margin-top: 30px;">
  <div class="col-md-6">
    <form [formGroup]="loginForm">
    <div class="card border-primary animated rollIn">
      <h3 class="card-header bg-primary text-white text-center"><i class="fa fa-lock"></i> Login</h3>
      <div class="card-body">

            <div class="row justify-content-md-center">

              <div class="col-md-8">
                <div class="form-group">
                  <label class="col-form-label" >Username</label>
                  <input formControlName="username" class="form-control form-control-lg" type="text" placeholder="" >
                </div>
              </div>

              <div class="col-md-8">
                <div class="form-group">
                  <label class="col-form-label" >Password</label>
                  <input formControlName="password" type="password" placeholder="" class="form-control form-control-lg">
                </div>
              </div>

            </div>



      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-md-12">
          <div class="col-md-5 float-right">
            <button (click)="login()" class="btn btn-primary btn-block"><i class="fa fa-key"></i> Login</button>
          </div>
          </div>
        </div>
      </div>

    </div>
    </form>
  </div>
</div>
