<div class="modal-header">
  <h4 class="modal-title pull-left"><i class="fa fa-share"></i> Share with Others</h4>
  <button type="button" class="close pull-right" aria-label="Close"  (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <b>Enter Email Address <i>(Press ENTER after adding email address)</i></b>
  <hr>
  <tag-input [(ngModel)]='emails' placeholder="Email Address" secondaryPlaceholder="Add Email Address"></tag-input>
</div>
<div class="modal-footer">

  <div class="alert alert-warning">
    I am using a non-ssl secured shared hosting to send the emails, email providers will probably flag these emails as spam
    please check the <b>SPAM</b> folder.<br> <i>(It also takes around 3 mins to arrive)</i>
  </div>

  <button type="button" class="btn btn-primary" (click)="sendEmails()">Send <i class="fa fa-send"></i></button>
</div>
